/.mixin.out/
/.probe/
/cache/

/armourers_workshop/

/config/

/coremods/
/crash-reports/
/data/
/debug/
/defaultconfigs/
/Distant_Horizons_server_data/
/downloads/
/dynamic-data-pack-cache/
/dynamic-resource-pack-cache/
/ftbbackups3/
/immersive_paintings_cache/

/kubejs/config/probe-settings.json
/kubejs/documentation/
/kubejs/client_scripts/
/kubejs/server_scripts/

/kiwipacks/
/local/
/logs/
/mods/
/node_modules/
/resourcepacks/
/saves/
/screenshots/
/server-resource-packs
/shaderpacks/
/spark-modernfix/
/texturepacks/
/xaero/
/XaeroWaypoints_BACKUP*/



/command_history.txt
/icon.png
/hotbar.nbt
/kubejs.zip
/options.txt
/patchouli_data.json
/servers.dat
/servers.dat_old
/usercache.json
/usernamecache.json

.probe
/.vscode/probe.code-snippets
/.vscode/key.code-snippets