/.mixin.out/
/.probe/
/cache/

/config/

/coremods/
/crash-reports/
/data/
/debug/
/defaultconfigs/
/Distant_Horizons_server_data/
/downloads/
/dynamic-data-pack-cache/
/dynamic-resource-pack-cache/
/ftbbackups3/

/kubejs/documentation/
/kubejs/client_scripts/
/kubejs/server_scripts/

/kiwipacks/
/local/
/logs/
/mods/
/node_modules/
/resourcepacks/
/saves/
/screenshots/
/server-resource-packs
/shaderpacks/
/spark-modernfix/
/texturepacks/
/xaero/
/XaeroWaypoints_BACKUP*/



/command_history.txt
/icon.png
/hotbar.nbt
/options.txt
/patchouli_data.json
/servers.dat
/servers.dat_old
/usercache.json
/usernamecache.json

.probe
